# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]
innodb_lock_wait_timeout = 240
transaction-isolation = READ-COMMITTED

default-storage-engine=innodb
collation-server=utf8_general_ci
init-connect='SET NAMES utf8'
character-set-server=utf8

log-bin = /var/lib/mysql/mysql-bin
binlog-format = MIXED
expire_logs_days = 30
log_bin_trust_function_creators = 1
log-warnings = 2
slow-query-log = 1
slow-query-log-file = /var/lib/mysql/slow.log

innodb_open_files = 1024
innodb_buffer_pool_size = 32768M
innodb_log_file_size = 256M
innodb_additional_mem_pool_size = 10240M
innodb_max_purge_lag = 8192
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 0
innodb_doublewrite = 0
innodb_fast_shutdown = 1
innodb_checksums = 0
#table_cache = 1024
thread_cache_size = 64
innodb_concurrency_tickets = 64
innodb_thread_concurrency = 4
innodb_commit_concurrency = 4
max_heap_table_size = 32M
tmp_table_size = 32M
query_cache_size = 16M
query_cache_type = 1
table_open_cache = 1024
table_definition_cache = 1024
max_connections = 1024
max_allowed_packet = 64M

ignore-db-dir=.cache
ignore-db-dir=.config
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

